<div class="container">
    <div class="row">
        <div class="col s12">
            <form (submit)="createTask()">
                <h4>New Task</h4>
                <div class="input-field">
                    <input [(ngModel)]="newTitle" id="new_title" name="new_title" type="text">
                    <label [ngClass]="{'active': newTitle != ''}" for="new_title">Title</label>
                </div>
                <div class="input-field">
                    <input [(ngModel)]="newDescription" id="new_description" name="new_description" type="text">
                    <label [ngClass]="{'active': newDescription != ''}" for="new_description">Description</label>
                </div>
                <div>
                    <button class="waves-effect waves-light btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h4>Task List</h4>
            <div class="card" *ngFor="let task of tasks; let i = index">
                <div class="card-content">
                    <div class="row">
                        <div class="col s8">
                            <h5>{{ task.title }}</h5>
                            <p>{{ task.description }}</p>
                        </div>
                        <div class="col s4 right-align">
                            <div class="row">
                                <div class="col s12">
                                    <button (click)="editTask(i)" class="waves-effect waves-light btn yellow">Edit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button (click)="deleteTask(i)" class="waves-effect waves-light btn red">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <form (submit)="saveEditTask()">
                <h4>Edit a Task</h4>
                <div class="input-field">
                    <input [(ngModel)]="editTitle" id="edit_title" name="edit_title" type="text">
                    <label [ngClass]="{'active': editTitle != ''}" for="edit_title">Title</label>
                </div>
                <div class="input-field">
                    <input [(ngModel)]="editDescription" class="active" id="edit_description" name="edit_description" type="text">
                    <label [ngClass]="{'active': editDescription != ''}" for="edit_description">Description</label>
                </div>
                <div class="right-align">
                    <button class="waves-effect waves-light btn" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>